root {
  --primary: #0000
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

.text-center {
  text-align: center !important;
}

.row,
.column {
  display: flex;
}

.column {
  flex-direction: column;
}

.heading {
  margin-bottom: 8px;
}

.radius {
  border-radius: 10px;
}

h1 {
  display: flex;
  align-self: center;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 24px;
}

/* CUSTOM STYLES */

header {
  width: 100%;
  display: block;
  color: white;
}

header h1 {
  align-items: center;
  font-size: 40px;
}

.container {
  margin: 16px;
  display: grid;
  grid-template-columns: 1fr 4fr;
}

aside {
  width: 350px;
  margin-right: 20px;
}


input,
button,
.search-list * {
  width: 350px;
  margin: 8px auto;
  border-radius: 10px;
  padding: 8px 15px;
}

aside input {
  border: 1px solid var(--primary);
  border-radius: 10px;
}

aside .search-button {
  border: 0px;
  background-color: #000000d1;
  color: rgb(255, 255, 255)
}

aside .search-button:hover {
  border: 0px;
  background-color: rgba(173, 173, 173, 0.9);
  color: rgb(255, 255, 255);
}

aside .search-list button {
  color: rgb(0, 0, 0);
}

main {
  width: 100%;
}

main .forecast-card *,
main #today * {
  margin-bottom: 8px;
}

main #today {
  width: 50%;
  border: 1px solid #42A3B9;
  padding: 5px;
}

main .forecast-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
}

main .forecast-card {
  padding: 5px;
  background-color: rgb(66, 163, 185, 0.9) ;
  color: #fff;
}

section #today {
  margin: 10px 100px;
}